:root {
  --primary: #5c45fd;
  --secondary: #a89bff;
  --black: #161616;
  --gray: #969799;
  --gray2: #c3c4c6;
  --white: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-no1);
}

body {
  width: calc(100vw - (100vw - 100%));
  background-color: var(--black);
}

.rootlayout {
  width: calc(100vw - (100vw - 100%));
  color: var(--white);
  position: relative;
}

/* GENERAL POSITIONING */
.section-wide {
  width: 100%;
}

.section-narrow {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

/* DEFAULT STYLES CANCELLED */
li {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--white);
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

/* CUSTOM STYLES */

.btn-primary {
  background-color: var(--primary);
  color: var(--white) !important;
  padding: 5px 15px;
  border-radius: 5px;
}
.btn-primary2 {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--white) !important;
  padding: 5px 15px;
  border-radius: 5px;
}

.btn-primary2:hover,
.btn-primary:hover {
  box-shadow: var(--primary) 0px 4px 12px;
}

/* GRADIENTS */

.text-gradient-primary {
  background: linear-gradient(var(--secondary), var(--primary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* PAGES STYLE */

.cv-models,
.blogs {
  margin: 100px 0;
  > h1 {
    text-align: center;
    font-size: 50px;
  }
  @media screen and (min-width: 700px) {
    h1 {
      font-size: 5vw;
    }
  }
}

/* spinner */
.loader {
  width: 48px;
  height: 48px;
  position: relative;
  animation: rotate 4s linear infinite;
  display: block;
  margin: 200px auto;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  border: 24px solid;
  border-color: transparent transparent var(--secondary) var(--secondary);
  position: absolute;
  left: 0;
  top: 0;
  animation: mvx 1s infinite ease-in;
}
.loader:before {
  left: -1px;
  top: 1px;
  border-color: var(--primary) var(--primary) transparent transparent;
  animation-name: mvrx;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes mvx {
  0%,
  15% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(-50%, 50%) rotate(180deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(180deg);
  }
}
@keyframes mvrx {
  0%,
  15% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(180deg);
  }
}
