.herosection {
  height: fit-content;
  position: relative;
  overflow: hidden;

  .sphere1 {
    top: 0;
    right: -20vw;

    @media screen and (min-width: 850px) {
      right: -100px;
    }
  }

  .sphere2 {
    bottom: 0;
    left: -300px;
  }

  h1 {
    font-size: 50px;
    margin-top: 100px;
    padding-left: 20px;
  }

  > p {
    margin-top: 40px;
    font-size: 15px;
    max-width: 700px;
    padding-left: 20px;
  }

  .call-to-action {
    margin-top: 40px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: 500px) {
      flex-direction: row;
      gap: 50px;
    }

    > div {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 80px;
        height: auto;
      }

      p {
        font-size: 13px;
        font-weight: 600;
        span {
          color: var(--gray);
          font-weight: 400;
        }
      }
    }
  }

  /* DESKTOP SETTINGS */
  @media screen and (min-width: 700px) {
    h1 {
      font-size: 7vw;
      padding-left: 5vw;
    }

    p {
      font-size: 20px;
      padding-left: 5vw;
    }

    .call-to-action {
      padding-left: 5vw;
      a {
        font-size: 1.7vw;
        svg {
          width: 1vw;
          height: auto;
        }
      }
      > div {
        img {
          width: 10.5vw;
          max-width: 150px;
        }
        p {
          font-size: 1.5vw;
        }
      }
    }
  }

  @media screen and (min-width: 1440px) {
    > p {
      max-width: 900px;
    }
  }
}
